name: M3u Fetch And Modify
on: 
  #schedule: 
    #- cron: 11 */3 * * *
  workflow_dispatch:
  repository_dispatch: #允许外部触发,cf worker定时任务延迟在1分钟以内
    types: [tvcron]
jobs:
  main:
    name: Fetch And Modify
    runs-on: ubuntu-latest
    permissions:
      contents: write    # 允许推送代码
    env:
      ONLY_UPDATE_MIGU: false    # 在这里修改：true 表示只更新 migu_merged.m3u，false 表示更新所有文件
    
    steps: 
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Install Dependencies
      run: pip install requests

    # --- 块1: Migu 处理---
    - name: Process Migu Files
      continue-on-error: true     # 即使失败也会继续执行后续块 
      run: |
        wget https://github.com/ioptu/migu_video/raw/refs/heads/main/migu.txt -O migu.m3u -t 2 --waitretry=5
        python ./scripts/m3u_mergerng.py -i migu.m3u -o mg_m.m3u
        python ./scripts/m3u_merger.py -i mg_m.m3u -o mg_merged.m3u
        python ./scripts/add_channel.py -i mg_merged.m3u -o mg_merged.m3u -a "搜狐剧场,https://hdl-vip-ws.qf.56.com/live/lc_11730.flv"
        
    # --- 块2: huuc 源处理  ---
    - name: Process luuc Files
      if: env.ONLY_UPDATE_MIGU != 'true'    # 只有在 ONLY_UPDATE_MIGU 为 false 时运行 
      continue-on-error: true
      run: |
            #无需频繁更新
            #wget https://raw.githubusercontent.com/lwzlinyi/ziyong/refs/heads/main/live2.m3u -O live2.m3u  -t 2 --waitretry=5
            #python ./scripts/extract.py --input live2.m3u --output t1op.m3u --eoru ',huuc' -n
            #python ./scripts/deduplicate.py -i t1op.m3u -o t1output.m3u

    # --- 块3: lnott 源处理  ---
    - name: Process lnott Files
      if: env.ONLY_UPDATE_MIGU != 'true'
      continue-on-error: true
      run: |
            #无需频繁更新
            #wget http://www.lyyytv.cn/yt/zhibo/1.txt -O 1.txt -t 2 --waitretry=5
            #node ./scripts/txt2m3u.js -i 1.txt -o 1.m3u
            #python ./scripts/extract.py --input 1.m3u --output t2op.m3u --eoru ',lnott' -n
            #python ./scripts/deduplicate.py -i t2op.m3u -o t2output.m3u

    # --- 块4: jdshipin 源处理  ---
    - name: Process jdshipin Files
      if: env.ONLY_UPDATE_MIGU != 'true'
      continue-on-error: true
      run: |
            #无需频繁更新
            #wget https://github.com/hainantv/kk/raw/refs/heads/main/hainan.txt -O hainan.txt  -t 2 --waitretry=5
            #node ./scripts/txt2m3u.js -i hainan.txt -o t4op.m3u
            #python ./scripts/extract.py --input t4op.m3u --output tv4output.m3u --eoru ',php.jdshipin.com/TVOD/iptv.php?id=' -n
            #python ./scripts/m3u_merger.py -i tv4output.m3u -o tv4output_merged.m3u

    # --- 块5: qqqtv 源处理  ---
    - name: Process Lite Files
      if: env.ONLY_UPDATE_MIGU != 'true'
      continue-on-error: true
      run: |
            #wget https://github.com/xiaoran29/core/raw/refs/heads/main/output/lite.m3u -O lite.m3u  -t 2 --waitretry=5
            #python ./scripts/extract.py --input lite.m3u --output t3op.m3u --eoru ',qqqtv' -n
            #python ./scripts/m3u_merger.py -i t3op.m3u -o t3op_merged.m3u
            #python ./scripts/url_sorter.py -i t3op_merged.m3u -o t3op_ms.m3u -k 'HD&auth=666858,auth=66615415'

            #临时措施，目标直播源修正了频道名错误后应恢复使用以上注释代码块
            wget https://github.com/xiaoran29/core/raw/refs/heads/main/output/lite.m3u -O lite.m3u  -t 2 --waitretry=5
            python ./scripts/extract.py --input lite.m3u --output t3o.m3u --eoru ',qqqtv' -n
            python ./scripts/url_sorter.py -i t3o.m3u -o t3op.m3u -k "CCTV-5%2B" -ch "CCTV5" -rn "CCTV5+" 
            python ./scripts/m3u_merger.py -i t3op.m3u -o t3op_merged.m3u
            python ./scripts/url_sorter.py -i t3op_merged.m3u -o t3op_ms.m3u -k 'HD&auth=666858,auth=66615415'
            #目标直播源大量缺失qqqtv频道，恢复旧文件 暂停上游更新  #已备份到backup目录，保持跟随上游更新   
            #wget https://github.com/ioptu/IPTV.txt2m3u.player/raw/dcf291331d4e49d18d519e386d11c4278c76ccf2/yp.qqqtv.top.m3u -O qtv.m3u  -t 2 --waitretry=5
            #python ./scripts/url_sorter.py -i qtv.m3u -o qtvop.m3u -k "CCTV-5%2B" -ch "CCTV5" -rn "CCTV5+" 
            #python ./scripts/m3u_merger.py -i qtvop.m3u -o qtvop_merged.m3u
            #python ./scripts/url_sorter.py -i qtvop_merged.m3u -o qtvop_ms.m3u -k 'HD&auth=666858,auth=66615415'
        

    # --- 块6: Catvod 处理 ---
    - name: Process Catvod Files
      if: env.ONLY_UPDATE_MIGU != 'true'
      continue-on-error: true
      run: |
        wget https://github.com/xiaoran29/core/raw/refs/heads/main/output/lite.m3u -O lite.m3u -t 2 --waitretry=5
        python ./scripts/extract.py --input lite.m3u --output t3op2.m3u --eoru ',catvod.com' -n 
        python ./scripts/m3u_merger.py -i t3op2.m3u -o t3op2_merged.m3u
        python ./scripts/url_sorter.py -i t3op2_merged.m3u -o t3op2_ms.m3u -k 'CCTV-' -r
        
    # --- 块7: 汇总处理 ---
    - name: Final Merge 1
      if: env.ONLY_UPDATE_MIGU != 'true'
      continue-on-error: true
      run: |
        python ./scripts/m3u_merger.py -i t3op2_ms.m3u mg_m.m3u huuc_ipv6.m3u sh.lnott.top.m3u php.jdshipin.com_merged.m3u -o t0op_m.m3u
        python ./scripts/url_sorter.py -i t0op_m.m3u -o t0op_ms.m3u -k "catvod,luuc,miguvideo"
        python ./scripts/url_sorter.py -i t0op_ms.m3u -o t0op_ms.m3u -k "CCTV-" -r
        python ./scripts/m3u_header_tool.py -i t0op_ms.m3u -c -E "https://gh-proxy.org/github.com/ioptu/migu_video/raw/refs/heads/main/e.xml"
        
    - name: Final Merge 2
      if: env.ONLY_UPDATE_MIGU != 'true'
      continue-on-error: true
      run: |       
        python ./scripts/url_sortergr.py -i t0op_m.m3u -o ttvop_m.m3u -gr "央视" -rg "央视" 
        python ./scripts/url_sortergr.py -i ttvop_m.m3u -o ttvop_m.m3u -gr "卫视" -rg "卫视" 
        python ./scripts/m3u_merger.py -i ttvop_m.m3u -o ttvop_m.m3u 
        python ./scripts/url_sorter.py -i ttvop_m.m3u -o ttvop_ms.m3u -k "catvod,luuc,miguvideo" 
        python ./scripts/url_sorter.py -i ttvop_ms.m3u -o ttvop_ms.m3u -k "CCTV-" -r 
        python ./scripts/m3u_header_tool.py -i ttvop_ms.m3u -c -E "https://gh-proxy.org/github.com/ioptu/migu_video/raw/refs/heads/main/e.xml"

    # --- 块8: 提交推送 (这个步骤不建议加 continue-on-error，因为它是最终目标) ---
    - name: CommitAndPush
      run: |
        REPO_NAME="${GITHUB_REPOSITORY#*/}"
        git config --global user.email "github@github.com"
        git config --global user.name "Github Actions"
        
        git clone "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git"
        cd "$REPO_NAME" || exit 1 

        # 使用 [ -f ] 检查文件是否存在再移动，防止因前面某块失败导致文件缺失而报错退出
        [ -f ../mg_merged.m3u ] && mv ../mg_merged.m3u ./migu_merged.m3u || echo "migu skip"
        
        if [ "$ONLY_UPDATE_MIGU" != "true" ]; then
          
          #[ -f ../t3op.m3u ] && mv ../t1output.m3u ./huuc_ipv6.m3u || true
          #[ -f ../t3op.m3u ] && mv ../t2output.m3u ./sh.lnott.top.m3u || true          
          #[ -f ../t3op.m3u ] && mv ../tv4output.m3u ./php.jdshipin.com.m3u || true
          #[ -f ../t3op.m3u ] && mv ../tv4output_merged.m3u ./php.jdshipin.com_merged.m3u || true
          [ -f ../t3op.m3u ] && mv ../t3op.m3u ./yp.qqqtv.top.m3u || true
          [ -f ../t3op_ms.m3u ] && mv ../t3op_ms.m3u ./yp.qqqtv.top_merged.m3u || true
          [ -f ../t3op2.m3u ] && mv ../t3op2.m3u ./catvod.com.m3u || true
          [ -f ../t3op2_ms.m3u ] && mv ../t3op2_ms.m3u ./catvod.com_merged.m3u || true
          [ -f ../t0op_ms.m3u ] && mv ../t0op_ms.m3u ./tv_merged.m3u || true
          [ -f ../ttvop_ms.m3u ] && mv ../ttvop_ms.m3u ./ttv_merged.m3u || true
        fi

        git add .
        if git diff --cached --quiet; then
          echo "No changes to commit."
        else
          git commit -m "Update: $(date +'%Y-%m-%d %H:%M:%S')"
          git push origin main
        fi
