name: txt2m3u
on: 
  schedule: 
    - cron: 11 05,17 * * *
  workflow_dispatch:
jobs:
  main:
    name: Fetch And Convert
    runs-on: ubuntu-latest
    permissions:
      contents: write  # 允许推送代码
    steps: 
    - name: Checkout code
      uses: actions/checkout@v5
    - name: fetch source 
      run: |
          ### wget https://github.com/zwc456baby/iptv_alive/raw/master/live.txt -O input.txt
          ## wget https://gitee.com/xxy002/zhiboyuan/raw/master/dsy -O input.txt
          wget https://raw.githubusercontent.com/kakaxi-1/IPTV/refs/heads/main/ipv6.m3u -O kkx_ipv6.m3u -t 2 --waitretry=5
          wget http://www.lyyytv.cn/yt/zhibo/1.txt -O input.txt -t 2 --waitretry=5
          node ./scripts/txt2m3u.js -i input.txt -o output.m3u
          python ./scripts/m3u_merger.py -i output.m3u -o output_merged.m3u
          python ./scripts/m3u_merger.py -i huuc_ipv6.m3u kkx_ipv6.m3u -o ipv6_merged.m3u


          wget https://github.com/hainantv/kk/raw/refs/heads/main/hainan.txt -O tv1.txt  -t 2 --waitretry=5
          node ./scripts/txt2m3u.js -i tv1.txt -o tv1.m3u
          python ./scripts/extract.py --input tv1.m3u --output tv1op.m3u --eoru ',php.jdshipin.com/TVOD/iptv.php?id=' 
          python ./scripts/m3u_merger.py -i tv1op.m3u -o tv1op_merged.m3u

          wget https://github.com/cm851228/my51228888/raw/refs/heads/main/catvod.txt -O tv2.txt  -t 2 --waitretry=5
          node ./scripts/txt2m3u.js -i tv2.txt -o tv2.m3u
          python ./scripts/extract.py --input tv2.m3u --output tv2ys.m3u --eoru '央视,' 
          python ./scripts/extract.py --input tv2.m3u --output tv2ws.m3u --eoru '卫视,' 
          python ./scripts/m3u_merger.py -i tv2ys.m3u tv2ws.m3u -o tv2op_merged.m3u
          python ./scripts/m3u_mergerng.py -i tv2op_merged.m3u -o tv2op_merged_ng.m3u
          python ./scripts/url_sorter.py -i tv2op_merged_ng.m3u -o tv2op_ms.m3u -k 'live.catvod.com,iptv.catvod.com'

          
          ls -al
    - name: CommitAndPush
      run: |
        # 获取仓库名称（${VAR#*/} 是 Bash 的字符串操作，去掉 owner/ 前缀）
        REPO_NAME="${GITHUB_REPOSITORY#*/}"
        git config --global user.email "github@github.com"
        git config --global user.name "Github Actions"
        
        # 克隆仓库（使用 HTTPS + TOKEN 避免权限问题）
        git clone "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git"
        cd "$REPO_NAME" || exit 1  # 强制失败时退出

        # 后续操作...
        mv ../output.m3u ./t2m_output.m3u
        mv ../output_merged.m3u ./t2m_output_merged.m3u
        mv ../kkx_ipv6.m3u ./kakaxi-1_ipv6.m3u
        mv ../ipv6_merged.m3u ./ipv6_merged.m3u
        mv ../tv1op.m3u ./php.jdshipin.com.m3u
        mv ../tv1op_merged.m3u ./php.jdshipin.com_merged.m3u
        mv ../tv2op_ms.m3u ./catvod_merged.m3u

        
        git add .
        if git diff --cached --quiet; then
          echo "No changes to commit."
        else
          git commit -m "Update: $(date +'%Y-%m-%d %H:%M:%S')"
          git push origin main
        fi
